html{
    background-color: pink;
}
.title {
    color: red;
    border-top: 5px dotted red;
    border-bottom: 5px dotted red;
    text-align: center;
}
.kuma {
    border: 10px ridge red;
    height: 200px;
}
.bb {
    font-family: "HG創英角ﾎﾟｯﾌﾟ体", fantasy;
    color: green;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:hover{
    background-color: yellow;
    text-decoration: none;
}
