
main {
    padding: 10px auto 10px auto;
    width: 1200px;
    background-color: beige;
}
ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
li{
    width: 160px;
    background-color: rgba(0, 208, 255, 0.751);
    border: dotted 2px gray;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}